/*
 * Admin Styles
 */



ul.token-input-list-standard{
	background:#FFF;
	border:1px solid #CCC;
	padding:3px !important;
	overflow:hidden;
	width:610px;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
}

.token-input-list-standard li{
	list-style-type:none;
}

.token-input-token-standard{
	float:left;
	margin-right:3px;
	padding:0 5px;
	border:1px solid #8DA0BB;
	background-color:#C5D5E8;
	-webkit-border-radius:3px;
	-moz-border-radius:3px;
	border-radius:3px;
}
.token-input-selected-token-standard{
	color:#FFF;
	border:1px solid #36507C;
	background-color:#36507C;
}

.token-input-delete-token-standard{
	padding:2px;
	margin:-2px 0;
	cursor:pointer;
}

.token-input-token-standard > p{
	float:left;
	margin:0 5px 0 0 !important;
	padding:0 !important;
}

.token-input-input-token-standard > input{
	border:none;
	padding:0 !important;
	border:0;
	margin:0;
	height:auto;
	-webkit-box-shadow:none;
	-moz-box-shadow:none;
	box-shadow:none;
	float:left;
}

.token-input-dropdown-standard{
	background:#FFF;
	padding:3px;
	border:1px solid #CCC;
	border-top:0;
	margin-left:0;
	min-width:200px;
}
.token-input-dropdown-standard ul{
	padding:0;
	margin:0;
}

.token-input-dropdown-item-standard, .token-input-dropdown-item2-standard{
	list-style-type:none;
	margin:0;
	padding:0 5px;
	border:1px solid transparent;
	-webkit-border-radius:3px;
	-moz-border-radius:3px;
	border-radius:3px;
}
.token-input-selected-dropdown-item-standard{
	border:1px solid #8DA0BB;
	background-color:#C5D5E8;
	-webkit-border-radius:3px;
	-moz-border-radius:3px;
	border-radius:3px;
}

/*
 * Grappelli Styles
 */

.token-input-list-grappelli{
	background:#FFF;
	border:1px solid #CCC;
	-webkit-border-radius:3px;
	-moz-border-radius:3px;
	border-radius:3px;
	-webkit-box-shadow:0 1px 3px #eaeaea inset;
	-moz-box-shadow:0 1px 3px #eaeaea inset;
	box-shadow:0 1px 3px #eaeaea inset;
	padding:3px;
	overflow:hidden;
	width:758px;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
}

.token-input-token-grappelli{
	float:left;
	margin-right:3px;
	border-radius:3px;
	padding:0 5px;
	border:1px solid #CCC;
	background-color:#EEE;
	background:#EEE -webkit-linear-gradient(top, #EEE, #DDD);
	background:#EEE -moz-linear-gradient(top, #EEE, #DDD);
	background:#EEE linear-gradient(top, #EEE, #DDD);
	-webkit-box-shadow: 0 1px 0 0 #FFF inset;
	-moz-box-shadow: 0 1px 0 0 #FFF inset;
	box-shadow: 0 1px 0 0 #FFF inset;
	-webkit-border-radius:3px;
	-moz-border-radius:3px;
	text-shadow:0 1px 0 #FFF;
}
.token-input-selected-token-grappelli{
	display:block;
	border-color:#555;
	background-color:#CCC;
	background:#CCC -webkit-linear-gradient(top, #999, #666);
	background:#CCC -moz-linear-gradient(top, #CCC, #AAA);
	background:#CCC linear-gradient(top, #CCC, #AAA);
	-webkit-box-shadow: 0 1px 0 0 #AAA inset;
	-moz-box-shadow: 0 1px 0 0 #AAA inset;
	box-shadow: 0 1px 0 0 #AAA inset;
	color:#FFF;
	text-shadow:0 -1px 0 #555;
}

.token-input-delete-token-grappelli{
	padding:2px;
	margin:-2px 0;
	cursor:pointer;
}

.token-input-token-grappelli > p{
	float:left;
	margin:0;
	padding:0;
	margin-right:5px;
}

.token-input-input-token-grappelli > input{
	border:none;
	padding:3px !important;
	border:0;
	margin:0;
	height:auto;
	-webkit-box-shadow:none;
	-moz-box-shadow:none;
	box-shadow:none;
	float:left;
}

.token-input-dropdown-grappelli{
	background:#FFF;
	padding:3px;
	border:1px solid #CCC;
	border-top:0;
	margin-left:5px;
	-webkit-border-radius:0 0 5px 5px;
	-moz-border-radius:0 0 5px 5px;
	border-radius:0 0 5px 5px;
	min-width:200px;
}

.token-input-dropdown-item-grappelli, .token-input-dropdown-item2-grappelli{
	margin:0;
	padding:3px 5px;
	border:1px solid transparent;
	-webkit-border-radius:3px;
	-moz-border-radius:3px;
	border-radius:3px;
}
.token-input-selected-dropdown-item-grappelli{
	border:1px solid #CCC;
	background-color:#EEE;
	background:#EEE -webkit-linear-gradient(top, #EEE, #DDD);
	background:#EEE -moz-linear-gradient(top, #EEE, #DDD);
	background:#EEE linear-gradient(top, #EEE, #DDD);
	-webkit-box-shadow: 0 1px 0 0 #FFF inset;
	-moz-box-shadow: 0 1px 0 0 #FFF inset;
	box-shadow: 0 1px 0 0 #FFF inset;
}